body {
    padding-top: 79px;
}

a {
    color: #368a91;
}

a:hover {
    text-decoration: none;
    color: #244a65;
}

.navbar {
    height: 79px;
}

.jumbotron {
    background-color: #fff;
}

.jumbotron h1 {
    background-color: #fff;
    color: #9b9b9b;
    font-size: 5em;
    letter-spacing: 2.9px;
    margin: 29px 0;
    border: 0px;
}

.jumbotron p {
    font-weight: 300;
    font-size: 1.4em;
    letter-spacing: 2.9px;
    color: #7c7c7c;
}

.embed-responsive {
    border-radius: 4px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.29);
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-top: 40px;
    color: #7c7c7c;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 50px;
    }
    #logo {
        width: 200px;
    }
    .navbar {
        height: 50px;
    }
    .navbar-collapse {
        background-color: #fff;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        float: right;
        margin-top: 14.5px;
    }
}
